@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}

body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #fee4ea;
	background: black;
}

main {
	width: 80%;
	height: 80%;
	max-width: 800px;
	max-height: 540px;
	background: gray;
	color: white;
	border-radius: 16px;
	display: flex;
	background-image: url(https://images.unsplash.com/photo-1533134486753-c833f0ed4866?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
	background-size: cover;
	background-repeat: no-repeat;
}

.container {
	width: 95%;
	height: 100%;
	margin: auto;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.form-card {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 40%;
	height: 95%;
	border-radius: 15px;
	background: black;
}

.form-card p {
	height: 15%;
	font-size: 14px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.form {
	width: 80%;
	padding-top: 10px;
	margin: auto;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.google {
	padding-bottom: 8px;
}

.google-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	padding: 10px;
	background-color: #4385f5;
	border-radius: 4px;
	color: white;
	outline: none;
	border: none;
}

.line {
	height: 0.5px;
	width: 100%;
	margin: 30px 0;
	background: #fff;
	position: relative;
}

.line::after {
	content: "or";
	background: black;
	width: 20px;
	height: 20px;
	color: white;
	position: absolute;
	left: 50%;
	top: 50%;
	padding: 15px;
	transform: translate(-50%, -50%);
}

input[type="text"] {
	background: transparent;
	outline-style: none;
	border: 1px solid rgb(243, 240, 240);
	padding: 14px;
	border-radius: 4px;
}

input::placeholder {
	color: gray;
	font-weight: 400;
	padding: 4px;
	opacity: 1;
}

button[type="submit"] {
	padding: 14px;
	outline-style: none;
	border: 1px solid rgb(243, 240, 240);
	border-radius: 4px;
}

.description {
	width: 40%;
	height: 80%;
	gap: 14px;
	display: flex;
	flex-direction: column;
	justify-content: end;
	align-items: end;
}

.description p {
	font-size: 12px;
}

@media only screen and (max-width: 760px) {
	.container {
		justify-content: space-between;
		align-items: center;
	}

	.form-card {
		/* width: 45%; */
	}

	.description {
		/* width: 45%; */
	}
}

@media only screen and (max-width: 660px) {
	main {
		width: 80%;
		height: 100%;
		max-height: 600px;
	}

	.container {
		flex-direction: column;
		gap: 5%;
		width: 95%;
	}

	.card-form {
		/* min-width: 350px; */
	}

	.form-card {
		height: 80%;
		max-height: 400px;
	}

	.description {
		height: 15%;
	}
}
